<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">404 Error</h1>
<!-- /wp:heading -->

<!-- wp:separator {"backgroundColor":"custom-maroon"} -->
<hr class="wp-block-separator has-text-color has-custom-maroon-color has-alpha-channel-opacity has-custom-maroon-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="wp-block-heading has-text-align-center">The URL you are looking for is not found, please check the URL and try again.</h3>
<!-- /wp:heading --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->