<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-dark-blue"}}}},"textColor":"custom-dark-blue","fontSize":"large"} -->
<h2 class="wp-block-heading has-text-align-center has-custom-dark-blue-color has-text-color has-link-color has-large-font-size">Students</h2>
<!-- /wp:heading -->

<!-- wp:group {"tagName":"section","layout":{"type":"constrained","justifyContent":"center","contentSize":"800px","wideSize":""}} -->
<section class="wp-block-group"><!-- wp:query {"queryId":21,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|40"},"elements":{"link":{"color":{"text":"var:preset|color|custom-dark-blue"}}}},"textColor":"custom-dark-blue","fontSize":"medium","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/4","width":"250px","height":"400px","sizeSlug":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"border":{"width":"0px","style":"none"}}} /-->

<!-- wp:post-terms {"term":"student_role","prefix":"Specialty: ","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-dark-blue"}}}},"textColor":"black"} /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when the query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->