<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:media-text {"mediaType":"image","mediaWidth":40,"imageFill":true,"useFeaturedImage":true} -->
<div class="wp-block-media-text is-stacked-on-mobile is-image-fill-element" style="grid-template-columns:40% auto"><figure class="wp-block-media-text__media"></figure><div class="wp-block-media-text__content"><!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-dark-blue"}}}},"textColor":"custom-dark-blue"} /-->

<!-- wp:post-terms {"term":"student_role","prefix":"Specialty: ","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-dark-blue"}}}}} /-->

<!-- wp:post-excerpt /-->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"custom-dark-blue"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-custom-dark-blue-background-color has-background wp-element-button">See My Portfolio</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:media-text --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->