<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":76,"query":{"perPage":10,"pages":0,"offset":0,"postType":"student","order":"desc","orderBy":"name","author":"","search":"","exclude":[],"sticky":"","inherit":true,"disable_pagination":true},"namespace":"advanced-query-loop","metadata":{"categories":["posts"],"patternName":"core/query-standard-posts","name":"Standard"}} -->
<div class="wp-block-query"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-dark-blue"}}}},"textColor":"custom-dark-blue"} /-->

<!-- wp:post-template {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-dark-blue"}}}},"textColor":"custom-dark-blue","layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"18rem"}} -->
<!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"width":"250px","height":"400px","sizeSlug":"full","align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} /-->

<!-- wp:post-terms {"term":"student_role","prefix":"Specialty: "} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->